<div class="hero">
    <nav>
      <h2 class="logo">Furnitures Around</h2>
      <ul>
        <li><a href="/viewAllFurnitures"> Home </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="/ViewFurniture"> Cart</a></li>
        <li><a href="/trackOrder"> Order </a></li>
        <li><a href="/update"> Profile </a></li>
        <li><a href="/viewAddress"> Address </a></li>
      </ul>
    </nav>
    <div class="container" style="text-align: center">
        <table class="table table-lg table-hover furnitures form-box">
            <tr>
                <th scope="col"><button (click)="undelivered()" class="btn btn-warning btn-lg btn3d"><span class="glyphicon glyphicon-warning-sign"></span>Undelivered</button></th>
                <th scope="col"><button (click)="delivered()" class="btn btn-success btn-lg btn3d"><span class="glyphicon glyphicon-ok"></span>Delivered</button></th>
                
              </tr>
        </table>
        
      <table class="table table-lg table-hover furnitures form-box"  >
        <!-- *ngIf="d" -->
        <tr>
            <th scope="col">Id</th>
            <th scope="col">OrderDate</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Details</th>
            
        </tr>

        <tr *ngFor = "let o of del">
            <td>{{ o.orderId}}</td>
            <td>{{ o.orderDate }}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.price }}</td>
            <td>{{ o.status }}</td>
            <td>
              <button class="btn btn-primary" (click)="viewDetails(o.orderId)">View Details</button>
            </td>
            
           
        </tr>
        
      </table>
    </div>
  </div>