<div class="hero">
    <nav>
      <h2 class="logo">Furnitures Around</h2>
      <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="#"> Service </a></li>
        <li><a href="#"> Cart</a></li>
        <li><a href="#"> Report </a></li>
      </ul>
      <button type="button" class="logOut">Logout</button>
    </nav>
    <div class="container" style="text-align: center">
      <table class="table table-lg table-hover furnitures form-box">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">OrderDate</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">View Details</th>
        </tr>
        <tr>
          <td scope="col">123</td>
          <td scope="col">20/09/2022</td>
          <td scope="col">4</td>
          <td scope="col">70000</td>
          <td scope="col">Delivered</td>
          <td scope="col">
            <button type="submit" class="btn btn-primary">
              Details
            </button>
          </td>
        </tr>

        <tr *ngFor = "let o of orders">
            <td>{{ o.orderId}}</td>
            <td>{{ o.orderDate }}</td>
            <td>{{ o.quantity }}</td>
            <td>{{ o.price }}</td>
            <td>{{ o.status }}</td>
            <td scope="col">
                <button type="submit" class="btn btn-primary" >
                  Details
                </button>
              </td>
        </tr>
      </table>
    </div>
  </div>


  
