<div class="hero">
    <nav>
      <h2 class="logo">Furnitures Around</h2>
      <ul>
        <li><a href="/viewAllFurnitures"> Home </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="/ViewFurniture"> Cart</a></li>
        <li><a href="/trackOrder"> Order </a></li>
        <li><a href="/update"> Profile </a></li>
        <li><a href="/viewAddress"> Address </a></li>
      </ul>
    </nav>
    <div class="container" style="text-align: center">
      <table class="table   furnitures">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Colour</th>
          <th scope="col">Price</th>
          <th scope="col">Cart</th>
        </tr>
        
        <tr *ngFor="let f of furnitures">
          <td scope="col"><img src="{{f.imgUrl}}" alt="" class="fImg"></td>
          <td scope="col">{{ f.furnitureName }}</td>
          <td scope="col">{{ f.furnitureModel }}</td>
          <td scope="col">{{ f.furnitureColor }}</td>
          <td scope="col">{{ f.price }}</td>
          <td scope="col">
            <button type="submit" class="btn btn-danger" (click)="remove(f)">
             Remove
            </button>
          </td>
        </tr>
      </table>
      <div class="shopDiv">
      <button class="shop btn btn-primary" (click)="placeOrder()" >Place Order</button>
    <button class="shop btn btn-primary" (click)="continue()">Continue Shopping!</button>
  </div>
    </div>
  </div>
  
