<body>
  <div class="hero">
    <div class="form-box">
      <h1>Log In</h1>
      <form id="login" class="input-group">
        <input
          type="text"
          class="input-field"
          placeholder="User Id"
          required
          [(ngModel)]="username"
          name="username"
        />
        <input
          type="text"
          class="input-field"
          placeholder="Enter Password"
          [(ngModel)]="password"
          name="password"
          required
        />
        <input
          type="radio"
          class="chech-box"
          id="html"
          name="role"
          value="Admin"
          [(ngModel)]="role"
        />
        <label for="html">Admin</label><br />
        <input
          type="radio"
          class="chech-box"
          id="customer"
          name="role"
          value="Customer"
          [(ngModel)]="role"
        />
        <label for="css">Customer</label>
        <!-- <div>
          <input type="checkbox" class="chech-box" />
          <label>Remember Password</label>
        </div> -->
        <input
          type="submit"
          class="submit-btn"
          (click)="login()"
          value="Log In"
        />
      </form>
      <span>or</span>
      <input
        type="button"
        class="register"
        value="Register"
        (click)="register()"
      />
    </div>
  </div>
  <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<lottie-player
			src="https://assets2.lottiefiles.com/packages/lf20_vuliyhde.json"
			background="transparent"
			speed="1"
			style="width: 300px; height: 300px"
			loop
			controls
			autoplay
		></lottie-player> -->
</body>
