<!DOCTYPE html>
<html>

<head>
    <title>menu</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Furnitures Around</h2>
            <ul>
                <li><a href="/adminPage"> Home </a></li>
                <li><a href="/adminAbout"> About </a></li>
                <li><a href="/addFurniture">Add</a></li>
                <li><a href="/viewOrderByStatus"> Order </a></li>
                <li><a href="/getAllCustomer"> Customer </a></li>
            </ul>

        </nav>
        <div class="container data">
            <br />
            <br /><br />

            <div>
                <form method="post" action="#action-url" class="form-box">
                    <p style="color: white">
                        <b>
                            <h2> Brew Memories You'll Cherish Forever !</h2><br />
                            Furnitures Around, spread over 500+ cities has charmed the heart of
                            over 40lakh+ users. This place is the perfect stop for buying your
                            dream furnitues.<br><br>
                            We group of 6 friends started our journey with a common love for
                            furnitures. Our aim was to give people an experience of hassle free
                            buying and getting furnitues delivered at there doorstep.
                            We embody the spirit of frugality, flexibility and simplicity.
                            We love bringing alive your dream space. We emphasize comfort and
                            aesthetics while delivering well designed and functional furniture to you.<br><br>
                            With lot's of other trusts we would love to have your trust too.<br><br>
                            <h4>HAVE A HAPPY SHOPPING!</h4>
                        </b>
                    </p>
                    <br /><br />
                </form>
            </div>
        </div>
    </div>
</body>

</html>