<!DOCTYPE html>
<html>
<head>
  <title>menu</title>
  <link rel="stylesheet" type="text/css" href="C:\Users\Hp\Desktop\ANGULAR\newstyle.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@700;800;900&display=swap" rel="stylesheet">
</head>
<body >
    <div class="hero">
        <nav>
          <h2 class="logo">Furnitures Around</h2>
          <ul>
             <li><a href="#"> Home </a></li>
             <li><a href="#"> About </a></li>
             <li><a href="#"> Service </a></li>
             <li><a href="#"> Cart</a></li>
             <li><a href="#"> Report </a></li>
          </ul>
          <button type="button">Logout</button>
        </nav>
      <div class="container data form-box" style="text-align:center;"><br>
      <br><br>
        <p style="color: white;"><b>Dear Customer,<br>
        Thank you for purchasing your furnitures at your very own Furniture Around.<br>
      We would like to know your valueable feedback on our furnitures so as to improve if any needed
    in fututre.</b></p>
         
 
         <div class="container">
        <form method="post" action="#action-url">
        <br><br>
        <label><b style="color: white;">Overall Rating For The Furniture</b></label><br>
          
        <span class="star-rating">
          <input type="radio" name="rating1" value="1"><i></i>
          <input type="radio" name="rating1" value="2"><i></i>
          <input type="radio" name="rating1" value="3"><i></i>
          <input type="radio" name="rating1" value="4"><i></i>
          <input type="radio" name="rating1" value="5"><i></i>
        </span>
   
         
          <div class="container"></div> 
          <br>
        <label for="m_3189847521540640526commentText"><b style="color: white;">Description :</b></label><br>
        <textarea cols="75" name="commentText" rows="5"  placeholder="Description"></textarea><br>
        <br>
          <div class="clear"></div> 
        <input style="background:#26b03f;color:#fff;padding:12px;border:0;width: 50%;" class="w-60 btn btn-md btn-success " type="submit" value="Submit your review"> <br><br>
      
      </form>
        </div>
      </div>
</div>
</body>
</html>
