*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Josefin Sans', sans-serif;
}

.hero{
    height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(3, 20, 207, 0.6),rgba(137, 131, 244, 0.6)),url(https://images.pexels.com/photos/1421176/pexels-photo-1421176.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top:40px;
    padding-left:10%;
    padding-right:10%;
}
.logo{

    color:white;
    font-size:35px;
}

nav ul li{
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;
}
nav ul li a{
   font-size: large;
   color:white;
   text-decoration:none;
   font-weight:bold;
}
nav ul li a:hover{
    color:#F4BFBF;
    transition:.3s;
}
button{
    border:none;
    background:#5a4ac4fc;
    padding:12px 30px;
    border-radius:30px;
    color:white;
    font-weight:bold;
    font-size:large;
    transition:.4s;
}

.form-box{
    width:700px;
    height:470px;
    background:rgba(0, 0, 0, 0.5);
    color:#fff;
    top:55%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding: 45px 30px;
    text-align: center;
    /* margin-top: 30px; */
}
.input-group{
    position:absolute;
   width:280px;
    transition:.5s;
}
.form-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.form-box input{
    width: 100%;
    margin-bottom: 20px;
}
.field{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
}
.star-rating {
    margin: 25px 0 0px;
   font-size: 0;
   white-space: nowrap;
   display: inline-block;
   width: 175px;
   height: 35px;
   overflow: hidden;
   position: relative;
   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
   background-size: contain;
 }

 .star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
 
 .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }
  .star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
  }
  span.scale-rating{
  margin: 5px 0 15px;
      display: inline-block;
     
      width: 100%;
     
  }
  span.scale-rating>label {
    position:relative;
      -webkit-appearance: none;
    outline:0 !important;
      border: 1px solid grey;
      height:33px;
      margin: 0 5px 0 0;
    width: calc(10% - 7px);
      float: left;
    cursor:pointer;
  }
  span.scale-rating label {
    position:relative;
      -webkit-appearance: none;
    outline:0 !important;
      height:33px;
        
      margin: 0 5px 0 0;
    width: calc(10% - 7px);
      float: left;
    cursor:pointer;
  }
  span.scale-rating input[type=radio] {
    position:absolute;
      -webkit-appearance: none;
    opacity:0;
    outline:0 !important;
      /*border-right: 1px solid grey;*/
      height:33px;
   
      margin: 0 5px 0 0;
    
    width: 100%;
      float: left;
    cursor:pointer;
    z-index:3;
  }
  span.scale-rating label:hover{
  background:#fddf8d;
  }
  span.scale-rating input[type=radio]:last-child{
  border-right:0;
  }
  span.scale-rating label input[type=radio]:checked ~ label{
      -webkit-appearance: none;
   
      margin: 0;
    background:#fddf8d;
  }
  span.scale-rating label:before
  {
    content:attr(value);
      top: 7px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      vertical-align: middle;
    z-index:2;
  }