<div class="hero">
 
  <div class="container data form-box">
    <form action="" (ngSubmit)="submit()">
      <p>Name</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Name"
        [(ngModel)]="cust.username"
        name="cust.username"
      />
      <p>Mobile No</p>
      <input
        maxlength="100"
        type="number"
        required="required"
        class="field"
        placeholder="Enter Your Mobile Number"
        [(ngModel)]="cust.mobileNo"
        name="cust.mobileNo"
      />
      <p>Email</p>
      <input
        maxlength="100"
        type="email"
        required="required"
        class="field"
        placeholder="Enter Your Email"
        [(ngModel)]="cust.email"
        name="cust.email"
      />
      <!-- <p>City</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your City"
        [(ngModel)]="cust.addresses[0].city"
        name="cust.addresses[0].city"
      />

      <p>State</p>
      <input
        type="text"
        name="cust.addresses[0].state"
        class="field"
        placeholder="Enter Your State"
        [(ngModel)]="cust.addresses[0].state"
      />
      <p>Country</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Country"
        [(ngModel)]="cust.addresses[0].country"
        name="cust.addresses[0].country"
      />
      <p>Pin Code</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Pin Code"
        [(ngModel)]="cust.addresses[0].pincode"
        name="cust.addresses[0].pincode"
      /> -->

      <input type="submit" class="w-60 btn btn-md btn-success" value="Modify" />
    </form>
    <input type="button" class="w-60 btn btn-md btn-success" (click)="back()"  value="<- Back " />
  </div>
</div>
