<div class="hero">
  <!-- <nav>
    <h2 class="logo">Furnitures Around</h2>
    <ul>
       <li><a href="#"> Home </a></li>
       <li><a href="#"> About </a></li>
       <li><a href="#"> Service </a></li>
       <li><a href="#"> Cart</a></li>
       <li><a href="#"> Report </a></li>
    </ul>
    <button type="button">Logout</button>
  </nav> -->
  <div class="container data form-box">
    <form action="" (ngSubmit)="submit()">
      <p>Name</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Name"
        [(ngModel)]="cust.username"
        name="cust.username"
      />
      <p>Mobile No</p>
      <input
        maxlength="100"
        type="number"
        required="required"
        class="field"
        placeholder="Enter Your Mobile Number"
        [(ngModel)]="cust.mobileNo"
        name="cust.mobileNo"
      />
      <p>Email</p>
      <input
        maxlength="100"
        type="email"
        required="required"
        class="field"
        placeholder="Enter Your Email"
        [(ngModel)]="cust.email"
        name="cust.email"
      />
      <p>City</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your City"
        [(ngModel)]="address.city"
        name="address.city"
      />

      <p>State</p>
      <input
        type="text"
        name="address.state"
        class="field"
        placeholder="Enter Your State"
        [(ngModel)]="address.state"
      />
      <p>Country</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Country"
        [(ngModel)]="address.country"
        name="address.country"
      />
      <p>Pin Code</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Pin Code"
        [(ngModel)]="address.pincode"
        name="address.pincode"
      />

      <input type="submit" class="w-60 btn btn-md btn-success" value="Modify" />
    </form>
  </div>
</div>
