<div class="hero">
    <nav>
      <h2 class="logo">Furnitures Around</h2>
      <ul>
        <li><a href="/adminPage"> Home </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="/addFurniture">Add</a></li>
        <li><a href="/viewOrderByStatus"> Order </a></li>
        <li><a href="/getAllCustomer"> Customer </a></li>
      </ul>
      <button type="button" class="logOut" (click)="logout()">Logout</button>
    </nav>
    <div class="container" style="text-align: center">
      <table class="table   furnitures">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Colour</th>
          <th scope="col">Price</th>
          <th scope="col" colspan="2">Operation</th>
         
        </tr>
        
        <tr *ngFor="let f of furnitures">
          <td scope="col"><img src="{{f.imgUrl}}" alt="" class="fImg"></td>
          <td scope="col">{{ f.furnitureName }}</td>
          <td scope="col">{{ f.furnitureColor }}</td>
          <td scope="col">{{ f.furnitureModel }}</td>
          <td scope="col">{{ f.price }}</td>
          <td scope="col">
            <button type="submit" class="btn btn-primary" (click)="update(f)">Update</button>
          </td>
          <td scope="col">
            <button type="submit" class="btn btn-primary" (click)="delete(f)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
