*{
     margin:0;
     padding:0;
}

body{
     height:100%;
     width:100%;
     background-image:url(https://images.pexels.com/photos/12639296/pexels-photo-12639296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
     /* background-position:center; */
     background-size:cover;
     position:absolute;
     text-align: center;
}
.form-box{
   width:380px;
    height:max-content;
   position:relative;
   margin:3% auto;
    background:#fff;
   padding:5px;
   overflow: hidden;
}

#btn{
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height:100%;
    background:linear-gradient(to right,#0078AA,#7ed2f6);
    border-radius:30px;
    transition:.5s;
}
.input-group{
    /* top:130px;
    position:absolute; */
   width:280px;
    transition:.5s;
    margin-top: 30px;
}
.input-field{
   width:100%;
    padding:10px 0;
   margin:5px 0;
   border-left: 0;
    border-top:0;
    border-right:0;
    border-bottom:1px solid#999;
    outline:none;
    background:transparent;
}
.submit-btn{
   width:80%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
   margin-top: 10px;
   margin-bottom: 10px;
    background:linear-gradient(to right,#0078AA,#7ed2f6);
    border:0;
    outline:none;
   border-radius:30px;
   margin-left: 10%;
}
.chech-box{
   margin:20px 5px 30px 0;
   display: block;
}
label,span{
    color:#777;
    font-size:12px;
    bottom: 10px;
    margin-top: 17px;
    display: block;
    margin-right: 15px;
}
#login{
     left: 50px;
}
.register{
    width:61%;
    padding:10px 30px;
    cursor:pointer;
    display:block;
   margin-top: 10px;
   
    background:linear-gradient(to right,#0078AA,#7ed2f6);
    border:0;
    outline:none;
   border-radius:30px;
   margin-left: 21.5%;
}

h1{
    text-align: center;
    margin-top: 20px;
}
