<body>
  <div class="hero">
    <div class="form-box">
      <h1>Register</h1>
      <form id="login" class="input-group">
        <input type="text" class="input-field" placeholder="User Id" required />
        <input
          type="text"
          class="input-field"
          placeholder="Enter Password"
          required
        />
        <input
          type="radio"
          class="chech-box"
          id="html"
          name="role"
          value="admin"
        />
        <label for="html">Admin</label><br />
        <input
          type="radio"
          class="chech-box"
          id="customer"
          name="role"
          value="customer"
        />
        <label for="css">Customer</label>
        <input type="submit" class="submit-btn" value="Register" />
      </form>
    </div>
  </div>
  <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<lottie-player
			src="https://assets2.lottiefiles.com/packages/lf20_vuliyhde.json"
			background="transparent"
			speed="1"
			style="width: 300px; height: 300px"
			loop
			controls
			autoplay
		></lottie-player> -->
</body>
