<body>
  <div class="hero">
    <div class="form-box" *ngIf="check">
      <button type="button" class="fas fa-credit-card button" (click)="cod()">
        Credit/Debit Card
      </button>
      <button type="button" class="fas fa-wallet button" (click)="cod()">
        COD
      </button>
      <form #frm="ngForm" class="form">
        <div class="form-group">
          <label for="accountNo">
            <h6>Account Number</h6>
          </label>
          <input
            type="text"
            name="accountNo"
            placeholder="Account Number"
            required
            class="form-control input-group"
            #accountNo="ngModel"
            pattern="[0-9]{11,16}"
          />
          <p
            *ngIf="accountNo.invalid && accountNo.dirty"
            class="alert alert-danger"
          >
            Enter a valid account no of 11-16 digits
          </p>
        </div>
        <div class="form-group">
          <label for="username">
            <h6>Card Owner</h6>
          </label>
          <input
            type="text"
            name="username"
            placeholder="Card Owner Name"
            required
            class="form-control input-group"
            #uname="ngModel"
            pattern="[A-Z]{5,20}"
          />
          <p *ngIf="uname.invalid && uname.dirty" class="alert alert-danger">
            Enter name as per your card in capital letter
          </p>
        </div>
        <div class="form-group">
          <label for="cardNumber">
            <h6>Card number</h6>
          </label>
          <div class="input-group">
            <input
              type="text"
              name="cardNumber"
              placeholder="Valid card number"
              class="form-control"
              required
              #card="ngModel"
              pattern="[0-9]{16}"
            />
            <div class="input-group-append">
              <span class="input-group-text text-muted">
                <i class="fab fa-cc-visa mx-1"></i>
                <i class="fab fa-cc-mastercard mx-1"></i>
                <i class="fab fa-cc-amex mx-1"></i>
              </span>
            </div>
            <p *ngIf="card.invalid && card.dirty" class="alert alert-danger">
              Enter name as per your card in capital letter
            </p>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-8">
            <div>
              <label
                ><span class="hidden-xs">
                  <h6>Expiration Date</h6>
                </span></label
              >
              <div class="input-group">
                <input
                  type="number"
                  placeholder="MM"
                  name="month"
                  class="form-control"
                  required
                  #month="ngModel"
                  pattern="^(0?[1-9]|1[012])$"
                />
                <input
                  type="number"
                  placeholder="YY"
                  name="year"
                  class="form-control"
                  required
                  #year="ngModel"
                  pattern="[0-9]{2}"
                />
              </div>
              <p
                *ngIf="
                  (year.invalid && year.dirty) || (month.invalid && month.dirty)
                "
                class="alert alert-danger"
              >
                Enter a valid month and year
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mb-4">
              <label
                data-toggle="tooltip"
                title="Three digit CV code on the back of your card"
              >
                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
              </label>
              <input
                type="password"
                required
                class="form-control input-group"
                #cvv="ngModel"
                pattern="[0-9]{3}"
              />
            </div>
            <p *ngIf="cvv.invalid && cvv.dirty" class="alert alert-danger">
              Enter a valid month and year
            </p>
          </div>
        </div>
        <div class="card-footer">
          <button
            type="button"
            class="subscribe btn btn-primary btn-block shadow-sm"
            style="height: 40px"
            (click)="placeOrder()"
            [disabled]="frm.invalid"
          >
            Confirm Payment
          </button>
        </div>
      </form>
    </div>
    <div class="cod" *ngIf="!check">
      <div class="hero">
        <div class="form-box">
          <button
            type="button"
            class="fas fa-credit-card button"
            (click)="cod()"
          >
            Credit/Debit Card
          </button>
          <button type="button" class="fas fa-wallet button" (click)="cod()">
            COD
          </button>
          <p id="cash">You can pay by cash or do UPI payment!</p>

          <div id="pay" class="card-footer">
            <button
              type="button"
              class="subscribe btn btn-primary btn-block shadow-sm"
              style="height: 40px"
              (click)="placeOrder()"
            >
              Confirm Payment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
