<body>
    <div class="hero">
        <div class="form-box" *ngIf="check">
            <button type="button" class="fas fa-credit-card button" (click)="cod()"> Credit/Debit Card</button>
            <button type="button" class="fas fa-wallet button" (click)="cod()"> COD</button>
            <form class="form">
                <div class="form-group"> <label for="accountNo">
                        <h6>Account Number</h6>
                    </label> <input type="text" name="accountNo" placeholder="Account Number" required
                        class="form-control input-group "> </div>
                <div class="form-group"> <label for="username">
                        <h6>Card Owner</h6>
                    </label> <input type="text" name="username" placeholder="Card Owner Name" required
                        class="form-control input-group "> </div>
                <div class="form-group"> <label for="cardNumber">
                        <h6>Card number</h6>
                    </label>
                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number"
                            class="form-control " required>
                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i
                                    class="fab fa-cc-visa mx-1"></i> <i class="fab fa-cc-mastercard mx-1"></i> <i
                                    class="fab fa-cc-amex mx-1"></i> </span> </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-8">
                        <div> <label><span class="hidden-xs">
                                    <h6>Expiration Date</h6>
                                </span></label>
                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control"
                                    required> <input type="number" placeholder="YY" name="" class="form-control"
                                    required> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class=" mb-4"> <label data-toggle="tooltip"
                                title="Three digit CV code on the back of your card">
                                <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                            </label> <input type="text" required class="form-control input-group"> </div>
                    </div>
                </div>
                <div class="card-footer"> <button type="button" class="subscribe btn btn-primary btn-block shadow-sm"
                        style="height:40px ;">
                        Confirm Payment </button>
                </div>

            </form>
        </div>
        <div class="cod" *ngIf="!check">
            <div class="hero">
                <div class="form-box">
                    <button type="button" class="fas fa-credit-card button" (click)="cod()"> Credit/Debit Card</button>
                    <button type="button" class="fas fa-wallet button" (click)="cod()"> COD</button>
                    <p id="cash">You can pay by cash or do UPI payment!</p>

                    <div id="pay" class="card-footer"> <button type="button"
                            class="subscribe btn btn-primary btn-block shadow-sm"style="height:40px ;"> Confirm Payment </button></div>

                </div>
            </div>
        </div>
    </div>
</body>