<div class="container data">
  <form #frm="ngForm" action="" class="form-box" (ngSubmit)="submit()">
    <h1>Furniture details</h1>
    <br />
    <p>Furniture Image</p>
    <input
      type="text"
      name="furniture.imgUrl"
      class="field"
      placeholder="Put the furniture image"
      [(ngModel)]="furniture.imgUrl"
      #url="ngModel"
      required
    />
    <p *ngIf="url.invalid && url.dirty" class="alert alert-danger">
      Image url is required
    </p>
    <br />
    <p>Furniture name</p>
    <input
      type="text"
      name="furniture.furnitureName"
      class="field"
      placeholder="enter the furniture name"
      [(ngModel)]="furniture.furnitureName"
      #fname="ngModel"
      required
      pattern="[a-zA-Z]*"
    />
    <p *ngIf="fname.invalid && fname.dirty" class="alert alert-danger">
      Enter a valid name
    </p>
    <br />
    <p>Furniture Model</p>
    <input
      type="text"
      name="furniture.furnitureModel"
      class="field"
      placeholder="enter the furniture model"
      [(ngModel)]="furniture.furnitureModel"
      #model="ngModel"
      required
      pattern="[a-zA-Z0-9]*"
    />
    <p *ngIf="model.invalid && model.dirty" class="alert alert-danger">
      Enter a valid model
    </p>
    <br />
    <p>Color</p>
    <input
      type="text"
      name="furniture.furnitureColor"
      class="field"
      placeholder="enter the furniture color"
      [(ngModel)]="furniture.furnitureColor"
      #color="ngModel"
      required
      pattern="[a-zA-Z]*"
    />
    <p *ngIf="color.invalid && color.dirty" class="alert alert-danger">
      Enter a color
    </p>
    <br />
    <p>Price</p>
    <input
      type="text"
      name="furniture.price"
      class="field"
      placeholder="enter the furniture price"
      [(ngModel)]="furniture.price"
      #price="ngModel"
      required
      pattern="[0-9]*"
    />
    <p *ngIf="price.invalid && price.dirty" class="alert alert-danger">
      Enter price
    </p>
    <br />
    <input
      [disabled]="frm.invalid"
      type="submit"
      class="w-80 btn btn-md btn-success"
      value="Modify"
    />
    <input
      type="button"
      class="w-80 btn btn-md btn-success"
      (click)="back()"
      value="<- Back"
    />
  </form>
</div>
