
<div class="hero">
    <nav>
      <h2 class="logo">Furnitures Around</h2>
      <ul>
        <li><a href="/viewAllFurnitures"> Home </a></li>
        <li><a href="/about"> About </a></li>
        <li><a href="/ViewFurniture"> Cart</a></li>
        <li><a href="/trackOrder"> Order </a></li>
        <li><a href="/update"> Profile </a></li>
        <li><a href="/viewAddress"> Address </a></li>
      </ul>
      
    </nav>
    <div class="container" style="text-align: center">
      <table class="table   furnitures">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Colour</th>
          <th scope="col">Price</th>
         
        </tr>
        <tr *ngFor="let f of furnitures">
          <td scope="col"><img src="{{f.imgUrl}}" alt="" class="fImg"></td>
          <td scope="col">{{ f.furnitureName }}</td>
          <td scope="col">{{ f.furnitureModel }}</td>
          <td scope="col">{{ f.furnitureColor }}</td>
          <td scope="col">{{ f.price }}</td>
          
        </tr>
        
      
      </table>
      
    </div>
    <div class="alignRight">
        <hr>
        <h4>Total Bill: {{cost}}</h4>
        <button class="btn btn-success" (click)="proceed()">Proceed to Payment</button>
    </div>
  </div>
  