*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Josefin Sans', sans-serif;
   
}
 
.hero{
    height:100vh;
    width:100%;
}
 
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top:40px;
    padding-left:10%;
    padding-right:10%;
}
.logo{
 
    color:white;
    font-size:35px;
}
 
/* .form-box{
    width: 80%;
    background:rgba(0, 0, 0, 0.5);
    color:#fff;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding: 45px 30px;
    text-align: left;
    margin-top: 30px;
} */
nav ul li{
    list-style-type:none;
    display:inline-block;
    padding:10px 20px;
}
nav ul li a{
   font-size: large;
   color:white;
   text-decoration:none;
   font-weight:bold;
}
nav ul li a:hover{
    color:#F4BFBF;
    transition:.3s;
}
.logOut{
    border:none;
    background:#5a4ac4fc;
    padding:12px 30px;
    border-radius:30px;
    color:white;
    font-weight:bold;
    font-size:large;
    transition:.4s;
}
 
.furnitures{
    color: #fff;  
    margin-top: 30px;
    margin-left: 100px;
}
 
.fImg{
    width: 200px;
    height: 100px;
}
 
th,tr,td,table{
    border: none;
}
 
button{
    background: #2815a5fc;
    border: none;
    padding: 5px;
}