/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(3, 20, 207, 0.6),rgba(137, 131, 244, 0.6)),url(https://images.pexels.com/photos/6958126/pexels-photo-6958126.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
