<div class="hero">
  <nav>
    <h2 class="logo">Furnitures Around</h2>
    <ul>
      <li><a href="#"> Home </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="/ViewFurniture"> Cart</a></li>
        <li><a href="#"> Order </a></li>
        <li><a href="#"> Profile </a></li>
    </ul>
    <button type="button">Logout</button>
  </nav>
  <div class="container data form-box">
    <form action="" (ngSubmit)="submit()">
      <p>city</p>
      <input
        type="text"
        name="address.city"
        [(ngModel)]="address.city"
        class="field"
      />
      <p>state</p>
      <input
        type="text"
        name="address.state"
        [(ngModel)]="address.state"
        class="field"
      />
      <p>country</p>
      <input
        type="text"
        name="address.country"
        [(ngModel)]="address.country"
        class="field"
      />
      <p>pincode</p>
      <input
        type="text"
        name="address.pincode"
        [(ngModel)]="address.pincode"
        class="field"
      />
      <input type="submit" class="w-60 btn btn-md btn-success" value="Modify" />
    </form>
  </div>
</div>
