<div class="hero">
  <div class="container data form-box">
    <form #frm="ngForm" action="" (ngSubmit)="submit()">
      <p>city</p>
      <input
        #city="ngModel"
        type="text"
        name="address.city"
        [(ngModel)]="address.city"
        class="field"
        required
        pattern="[a-zA-Z ]*"
      />
      <p *ngIf="city.invalid && city.dirty" class="alert alert-danger">
        Enter a valid city name
      </p>
      <p>state</p>
      <input
        type="text"
        #state="ngModel"
        name="address.state"
        required
        [(ngModel)]="address.state"
        class="field"
        pattern="[a-zA-Z ]*"
      />
      <p *ngIf="state.invalid && state.dirty" class="alert alert-danger">
        Enter a valid state name
      </p>
      <p>country</p>
      <input
        type="text"
        name="address.country"
        [(ngModel)]="address.country"
        class="field"
        #country="ngModel"
        required
        pattern="[a-zA-Z ]*"
      />
      <p *ngIf="country.invalid && country.dirty" class="alert alert-danger">
        Enter a valid country name
      </p>
      <p>pincode</p>
      <input
        type="text"
        name="address.pincode"
        [(ngModel)]="address.pincode"
        class="field"
        #pincode="ngModel"
        required
        pattern="[0-9]{6}"
      />
      <p *ngIf="pincode.invalid && pincode.dirty" class="alert alert-danger">
        Enter a valid pincode of 6 digits
      </p>
      <input
        type="submit"
        class="w-60 btn btn-md btn-success"
        [disabled]="frm.invalid"
        value="Modify"
      />
      <input
        type="button"
        class="w-60 btn btn-md btn-success"
        (click)="back()"
        value="<- Back"
      />
    </form>
  </div>
</div>
