<div class="hero">
  <div class="container data form-box">
    <form #frm="ngForm" action="" (ngSubmit)="submit()">
      <p>Name</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Name"
        [(ngModel)]="cust.username"
        name="cust.username"
        #username="ngModel"
        pattern="[a-zA-Z ]{5,20}"
      />
      <p *ngIf="username.invalid && username.dirty" class="alert alert-danger">
        Enter a valid name,character limit 5-20.
      </p>
      <p>Mobile No</p>
      <input
        maxlength="100"
        type="number"
        required="required"
        class="field"
        placeholder="Enter Your Mobile Number"
        [(ngModel)]="cust.mobileNo"
        name="cust.mobileNo"
        #mobile="ngModel"
        pattern="[6-9]{1}[0-9]{9}"
      />
      <p *ngIf="mobile.invalid && mobile.dirty" class="alert alert-danger">
        Enter a valid phone number
      </p>
      <p>Email</p>
      <input
        maxlength="100"
        type="email"
        required="required"
        class="field"
        placeholder="Enter Your Email"
        [(ngModel)]="cust.email"
        name="cust.email"
        #email="ngModel"
        pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
      />
      <p *ngIf="email.invalid && email.dirty" class="alert alert-danger">
        Enter a valid email
      </p>
      <p>City</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your City"
        [(ngModel)]="address.city"
        name="address.city"
        #city="ngModel"
        pattern="[a-zA-Z ]*"
      />
      <p *ngIf="city.invalid && city.dirty" class="alert alert-danger">
        Enter a valid city name
      </p>
      <p>State</p>
      <input
        type="text"
        name="address.state"
        class="field"
        placeholder="Enter Your State"
        [(ngModel)]="address.state"
        #state="ngModel"
        pattern="[a-zA-Z ]*"
      />
      <p *ngIf="state.invalid && state.dirty" class="alert alert-danger">
        Enter a valid state name
      </p>
      <p>Country</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Country"
        [(ngModel)]="address.country"
        name="address.country"
        #country="ngModel"
        pattern="[a-zA-Z ]*"
      />
      <p *ngIf="country.invalid && country.dirty" class="alert alert-danger">
        Enter a valid country name
      </p>
      <p>Pin Code</p>
      <input
        maxlength="100"
        type="text"
        required="required"
        class="field"
        placeholder="Enter Your Pin Code"
        [(ngModel)]="address.pincode"
        name="address.pincode"
        #pincode="ngModel"
        pattern="[0-9]{6}"
      />
      <p *ngIf="pincode.invalid && pincode.dirty" class="alert alert-danger">
        Enter a valid pincode of 6 digits
      </p>
      <input
        type="submit"
        [disabled]="frm.invalid"
        class="w-60 btn btn-md btn-success"
        value="Add"
      />
    </form>
  </div>
</div>
