<div class="hero">
  <nav>
    <h2 class="logo">Furnitures Around</h2>
    <ul>
      <li><a href="#"> Home </a></li>
      <li><a href="#"> About </a></li>
      <li><a href="#"> Service </a></li>
      <li><a href="#"> Cart</a></li>
      <li><a href="#"> Report </a></li>
    </ul>
    <button type="button">Logout</button>
  </nav>
</div>
<div class="container data">
  <form action="" class="form-box" (ngSubmit)="submit()">
    <h1>Furniture details</h1>
    <br />
    <p>Furniture name</p>
    <input
      type="text"
      name="furniture.furnitureName"
      class="field"
      placeholder="enter the furniture name"
      [(ngModel)]="furniture.furnitureName"
    />
    <br />
    <p>Furniture Model</p>
    <input
      type="text"
      name="furniture.furnitureModel"
      class="field"
      placeholder="enter the furniture model"
      [(ngModel)]="furniture.furnitureModel"
    />
    <br />
    <p>Color</p>
    <input
      type="text"
      name="furniture.furnitureColor"
      class="field"
      placeholder="enter the furniture color"
      [(ngModel)]="furniture.furnitureColor"
    />
    <br />
    <p>Price</p>
    <input
      type="text"
      name="furniture.price"
      class="field"
      placeholder="enter the furniture price"
      [(ngModel)]="furniture.price"
    />
    <br />
    <input type="submit" class="w-80 btn btn-md btn-success" value="Add" />
  </form>
</div>
